<form [formGroup]="form">
  <div class="flex flex-wrap justify-between">
    <div>
      <label for="email-type">Email Type</label>
      <select name="email-type" id="email-type" formControlName="EmailType">
        <option *ngFor="let opt of emailTypes" [value]="opt">{{ opt }}</option>
      </select>
    </div>
    <div>
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        formControlName="Email"
        required
        email
      />
      <div *ngIf="email && email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors?.['required']">Email is required</div>
        <div *ngIf="email.errors?.['email']">Email format is not valid</div>
      </div>
    </div>
    <div>
      <label for="phone-type">Phone Type</label>
      <select name="phone-type" id="phone-type" formControlName="PhoneType">
        <option *ngFor="let opt of phoneTypes" [value]="opt">{{ opt }}</option>
      </select>
    </div>
    <div>
      <label for="phone">Phone</label>
      <input type="tel" name="phone" id="phone" formControlName="Phone" />
    </div>
    <div>
      <label for="preferred">Preferred</label>
      <select name="preferred" id="preferred" formControlName="Preferred">
        <option *ngFor="let opt of preferredTypes" [value]="opt">
          {{ opt }}
        </option>
      </select>
    </div>
  </div>
</form>
