<div id="right-panel">
  <div>
    <button (click)="menuToggleClicked()" class="mx-1 my-1" title="Close Menu">
      <ng-icon name="hero-x-circle-solid" size="24" strokeWidth="4"></ng-icon>
    </button>
  </div>
  <div class="flex flex-col" id="right-nav-buttons">
    <button routerLink="/">Home</button>
    <button routerLink="/employment">Employment</button>
    <button routerLink="/education">Education</button>
    <button routerLink="/contact">Contact</button>
    <button routerLink="/references">References</button>
    <button routerLink="/testimonials">Testimonials</button>
    <button routerLink="/resume">Resume</button>
    <button routerLink="/links">Links</button>
  </div>
</div>
