<div id="right-panel">
  <div>
    <button (click)="menuToggleClicked()" class="mx-1 my-1" title="Close Menu">
      <ng-icon name="hero-x-circle-solid" size="24" strokeWidth="4"></ng-icon>
    </button>
  </div>
  <div class="flex flex-col" id="right-nav-buttons">
    <button routerLink="/" (click)="menuToggleClicked()">Home</button>
    <button routerLink="/employment" (click)="menuToggleClicked()">
      Employment
    </button>
    <button routerLink="/education" (click)="menuToggleClicked()">
      Education
    </button>
    <button routerLink="/contact" (click)="menuToggleClicked()">Contact</button>
    <button routerLink="/references" (click)="menuToggleClicked()">
      References
    </button>
    <button routerLink="/testimonials" (click)="menuToggleClicked()">
      Testimonials
    </button>
    <button routerLink="/resume" (click)="menuToggleClicked()">Resume</button>
    <button routerLink="/links" (click)="menuToggleClicked()">Links</button>
  </div>
</div>
