<router-outlet></router-outlet>

<div id="nav-links" class="flex flex-wrap justify-between">
  <button routerLink="/">Home</button>
  <button routerLink="/employment">Employment</button>
  <button routerLink="/education">Education</button>
  <button routerLink="/contact">Contact</button>
  <button routerLink="/references">References</button>
  <button routerLink="/testimonials">Testimonials</button>
  <button routerLink="/resume">Resume</button>
  <button routerLink="/links">Links</button>
</div>
