<div id="home-page">
  <h1>About Myself</h1>

  <div class="mb-4">
    My name is Jeff Rossi and my background is in writing code, in various
    languages. In my early career from ’98 to ’09 I worked with
    <a href="https://www.php.net/" target="_blank"> PHP </a> and
    <a href="https://www.mysql.com/" target="_blankF"> MySQL </a> making
    interactive websites for clients as part of my solo web development company
    <strong>Data Driven Design.</strong> During this time, I was an active
    member in local Chamber of Commerce. Through the Chamber network I
    transitioned to a position at <strong>Asset Motion</strong> and focused on
    Ruby on Rails to expand and maintain the GPS tracking application.
  </div>

  <div class="mb-4">
    Through Numerex, the company that hosted and produced the base application
    that I started with, I was connected with
    <strong>InTouch GPS</strong>, with whom I worked for a decade. About seven
    years into my tenure at In Touch the company merged with
    <strong>GPS Trackit</strong> who produced another similar GPS tracking
    application. I switched to one of the teams at
    <strong>GPS Trackit</strong> and started to work on the admin portion of the
    next generation application. This application was written in
    <a href="https://nodejs.org/en" target="_blank"> NodeJS </a> and hosted in
    <a href="https://aws.amazon.com/" target="_blank"> Amazon Web Services </a>
    . My team was in California, so I offset my shift to better collaborate with
    the team in Pacific Standard Time. When Covid 19 arrived it hit the trucking
    industry hard, which was our main clientele. As a result, I was downsized in
    April of 2020.
  </div>

  <div class="mb-4">
    During the pandemic I determined the best course of action was to pursue a
    <strong>Bachelor of Science</strong> in
    <strong>Information Technology.</strong> I received my degree in August of
    2022 from
    <a href="https://www.daytonastate.edu/" target="_blank">
      Daytona State College.
    </a>
    The academic environment has prepared me for the next adventure in my career
    path.
  </div>

  <h1>About This Site</h1>

  <div class="mb-4">
    This website is what is commonly called a <strong>full stack</strong>
    application. This indicates that the site is composed of two parts, a client
    user interface that presents the information, and a server or API that
    retrieves the information from a database. While there may not be enough
    information to warrant such construction methods the point is to display my
    capability to do so.
  </div>

  <div class="mb-4">
    There are two commonly used <strong>API</strong> technologies,
    <strong>REST</strong> (REpresentational State Transfer) and
    <a href="https://graphql.org/" target="_blank"> GraphQL. </a> GraphQL is
    used for the various items throughout the site such as schools, jobs, and
    references.
  </div>

  <div class="mb-4">
    There are four UI applications using the popular frameworks of
    <a href="https://angular.io/" target="_blank"> Angular </a>
    ,
    <a href="https://react.dev/" target="_blank"> React </a>
    ,
    <a href="https://vuejs.org/" target="_blank"> Vue </a>
    , and
    <a href="https://svelte.dev/" target="_blank"> Svelte </a>
    . Links to the other applications are available on the Links page. This
    particular site was contructed using
    <a href="https://angular.io/" target="_blank">Angular</a>. The source code
    for any of my applications is available upon request.
  </div>
</div>
