<div id="reference-{{ reference.Id }}" class="mb-4">
  <h2>{{ name }}</h2>
  <div *ngIf="reference.Company">
    <strong class="mr-2">Company</strong>
    {{ reference.Company }}
  </div>
  <div *ngIf="reference.Title">
    <strong class="mr-2">Title</strong>
    {{ reference.Title }}
  </div>
  <button
    *ngIf="phone.length || email.length"
    class="w-full text-left font-bold"
    (click)="toggleContact()"
  >
    Contact
  </button>
  <div
    *ngIf="phone.length || email.length"
    id="contact-{{ reference.Id }}"
    style="display: none"
  >
    <div *ngIf="phone.length">
      <strong class="mr-2">Phone</strong>
      {{ phone }}
    </div>
    <div *ngIf="email.length">
      <strong class="mr-2">Email</strong>
      {{ email }}
    </div>
  </div>
  <button
    *ngIf="reference.Comments && reference.Comments.length > 0"
    class="w-full text-left font-bold"
    (click)="toggleComment()"
  >
    Comments
  </button>
  <div
    *ngIf="reference.Comments && reference.Comments.length > 0"
    id="comments-{{ reference.Id }}"
    style="display: none"
  >
    <div *ngFor="let comment of reference.Comments">
      {{ comment.Message }}
    </div>
  </div>
</div>
